*{
	text-align: center;
	margin: 10px;
	color: gray;
	
}

img{

	width: 400px;
	height: auto;
	margin-top: 10px;
}

header,
div,

header{
	font-size: 60px;
	padding-top: 90px;
}
div{
	font-size: 28px;
}